/.idea/workspace.xml
.DS_Store
.idea
*.iml
/build
*.pyc
*.sock
/simple_profile/static/libs
/simple_profile/static/gen
/simple_profile/static/.webassets-cache/
/simple_profile/__pycache__/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
